.hidden{
    display:none;
}

/*general styles*/
body {
    padding: 0px;
    margin: 0px;
   
  }
  img, embed, object, video, picture{
     max-width:100%;
 
  }
  p, h1 h2, h3 h4,h5{
    padding: 0px;
    margin: 0px;
    
 
  }
  a{
     text-decoration: none;
     transition:all .5s ease-in-out;
 
  }
  input,textarea{
     display: block;
     margin:0px;
     padding:0px;
  }

  .spacer{
    margin-top: 40px;
  }